<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INFOSTATION</title>
    <link href="./index.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</head>

<body onload="typeWriter()" class="flex">
    <section class="flex">
        <div class="logo flex"><img class="image" src="logo.jpg"></div>
        <div class="searchstuff flex">
            <div>
                <form>
                    <label for="bar">
                        <p id="txt"></p>
                    </label>
                    <input type="text" name="bar" placeholder="Search birch church furche lerche merch perche"> <br>
                    <button id="search" type="submit">Search</button>
                    <button id="luckybutton" type="submit">I'm feeling lucky</button>
                </form>
                <!-- <form action="lucky" method="POST"></form> -->
            </div>



        </div>
    </section>
</body>

</html>