<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INFOSTATION</title>
    <link href="./index.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</head>

<body onload="typeWriter()">
    <section>
        <div class="logo"><img class="image" src="logo.jpg"></div>
        <div class="searchstuff">
            <form action="results" method="POST">
                <label for="bar">
                    <p id="txt"></p>
                </label>

                <!-- <script async src="https://cse.google.com/cse.js?cx=005791462147845370082:pja7h40zjsg"></script> -->
                <!-- <div name="bar" class="gcse-searchbox-only"></div> -->
                <input type="text" name="bar" placeholder="Search birch church furche lerche merch perche">
                <div class="buttons">
                    <button id="search" type="submit">Search</button>
            </form>
        </div>
        <div>
            <form action="lucky" method="POST">
                <button id="lucky">I'm feeling lucky</button>
            </form>
        </div>
    </section>
</body>

</html>